*{
    margin:0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background:  #0b66dd;
}
.app{
    background: rgb(rgb(0, 255, 26), rgb(102, 128, 0), rgb(106, 255, 0));
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight: 25px;
    color: #aae917 ;
    font-weight: 600;
    border-bottom: 1px solid ;
    padding-bottom: 30px;    
}
.quiz h2{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color:#ce8a14;
    font-weight: 600;
}
.btn{
    background: rgb(rgba(213, 23, 23, 0.737), rgb(33, 172, 33), rgb(80, 80, 123));
    color: #ffff ;
    font-weight: 500 ;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background: rgb(rgb(236, 8, 8), rgb(7, 231, 7), rgb(8, 8, 236));
    color: #fff ;
}
#next-btn{
    background: rgb(rgb(236, 8, 8), rgb(7, 231, 7), rgb(8, 8, 236));
    color: #ffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    
}